body {
    background-color: rgb(209, 211, 108);} /*cor do fundo*/

#emc {
    width: 300px; /*largura */
    height: 300px; /*altura*/
    border: 10px solid black; /*borda da imagem*/
    padding: 20px;  /*espaçamento interno da borda*/
    margin: 20px;   /*espaçamento externo da borda*/
}

h1 {
    color: #000080; /*cor do texto*/
    text-align: center; /*posição do texto*/
    font-size: 48px;} /*tamanho do texto*/

p {
    color: #2020d3;
    font-size: 20px;}